/* General Styles */

html,
body {
  margin: 0;
  height: 100%;
  width: auto;
}

.default-background-color {
  background-color: rgb(228, 227, 253);
  /*background-color: rgba(52, 73, 94, 1);*/
}

.monday-foreground-color {
  color: rgba(228, 120, 51, 1);
}

.monday-header-text {
  font-family: 'Russo One', sans-serif;
  color:rgb(26, 40, 54);
}

.monday-text {
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(26, 40, 54);
}

/* NAVBAR Related Styles */

.navbar {
  display: flex;
  justify-content: space-evenly;
  grid-area: navbar;
  padding-top: 10px;
}

.diy-icon {
  width: auto;
  height: 100%;
}

.home-icon {
  width: auto;
  height: 100%;
}

.purchase-icon {
  width: auto;
  height: 100%;
}

.navbar-icon {
  opacity: 0.7;
}

.navbar-icon:hover {
  cursor: pointer;
  animation: buttonHover 1s;
  opacity: 0.9;
  transform: scale(1.2);
}

.navbar-icon-active {
  opacity: 1;
  transform: scale(1.2);
}

@keyframes buttonHover {
  0% {
  }
  100% {
    transform: scale(1.2);
  }
}

/* Header related styles */

.header {
  grid-area: header;
  background: rgb(255, 188, 0);
  background: linear-gradient(
    170deg,
    rgba(255, 188, 0, 1) 10%,
    rgba(255, 128, 0, 1) 50%,
    rgba(255, 46, 0, 1) 100%
  );

  text-align: center;
  font-size: 50pt;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

@media only screen and (min-width: 2800px) {
  .header {
    font-size: 120pt;
  }
}

@media only screen and (max-width: 2800px) and (min-width: 1920px) {
  .header {
    font-size: 80pt;
  }
}

@media only screen and (max-width: 767px) and (min-width: 577px) {
  .header {
    font-size: 40pt;
  }
}

@media only screen and (max-width: 576px) and (min-width: 512px) {
  .header {
    font-size: 35pt;
  }
}

@media only screen and (max-width: 511px) and (min-width: 458px) {
  .header {
    font-size: 32pt;
  }
}

@media only screen and (max-width: 457px) and (min-width: 313px) {
  .header {
    font-size: 25pt;
  }
}

@media only screen and (max-width: 312px) and (min-width: 0px) {
  .header {
    font-size: 20pt;
  }
}

/* Pitch related styles */

.pitch {
  grid-area: pitch;

  /* This places all the pitch-entries in pitch on a row  */
  display: grid;
  justify-content: center;
  grid-template-columns: 30% 30% 30%;
  margin-top: 3%;
}

/* Pitch entry */

.pitch-entry-icon {
  grid-area: pitch-entry-icon;
}

.pitch-entry-icon-image {
  width: 100%;
  height: 100%;
}

.pitch-entry-title {
  grid-area: pitch-entry-title;
  padding-left: 5%;
  /* This is what we use to make text in center of column */
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 900;
  font-size: 18pt;
}

.pitch-entry-text {
  grid-area: pitch-entry-text;
  padding-top: 10%;
  hyphens: auto;


  white-space: normal;
  word-break: break-word;
  
  /*overflow-wrap: break-word; */
}

.pitch-entry {
  display: grid;
  grid-template-areas:
    "pitch-entry-icon pitch-entry-title"
    "pitch-entry-text pitch-entry-text";

  grid-template-columns: 25% 65%;
  grid-template-rows: 15% 75%;
}

/*Footer related styles */

.footer {
  grid-area: footer;
  text-align: center;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer a {
  text-decoration: none;
  color: rgba(52, 73, 94, 1);
}

.footer a:hover {
  color: rgb(228, 227, 253);
  background: rgba(52, 73, 94, 1);
  border-radius: 10px;
}

/* Page structure*/

.home-container {
  display: grid;
  grid-template-areas:
    "navbar navbar navbar"
    "header header header"
    "left-space pitch right-space"
    "footer footer footer";
  grid-gap: 10px;

  grid-template-rows: 50px minmax(160px, 30%) 55% 5%;
  grid-template-columns: 1fr 70% 1fr;
  height: 100%;
}

.left-space {
  grid-area: left-space;
}

.right-space {
  grid-area: right-space;
}

@media only screen and (min-width: 2800px) {
  .home-container {
    grid-template-rows: 50px minmax(350px, 30%) 55% 5%;
  }
}

@media only screen and (max-width: 2800px) and (min-width: 1920px) {
  .home-container {
    grid-template-rows: 50px minmax(250px, 30%) 55% 5%;
  }
}
