/* This file contains SCSS for the main home page header */

.header {
  position: relative;
  grid-area: header;
  background: linear-gradient(
    170deg,
    rgba(255, 188, 0, 1) 10%,
    rgba(255, 128, 0, 1) 50%,
    rgba(255, 46, 0, 1) 100%
  );

  text-align: center;
  font-size: 7vw;
}

.header-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.background-image {
  height: 100%;
  width: 100%;
  background-image: url("../resources/icons/header-background.svg");
  position: absolute;
  opacity: 0.2;
  z-index: 1;
}
