/* This file contains SCSS for the navbar */

#diy-icon-container { grid-area: diyIcon; }
#home-icon-container { grid-area: homeIcon; }
#purchase-icon-container { grid-area: purchaseIcon; }
#navbar-left-padding { grid-area: navbar-left-padding; }
#navbar-right-padding { grid-area: navbar-right-padding; }
#navbar-language-separator { grid-area: navbar-language-separator; }
#navbar-language-container { grid-area: navbar-language-container; }

.navbar-language-container {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
}

#navbar-language-svenska {
  height: 100%;
}

#navbar-language-english {
  height: 100%;
  padding-left: 10px;
}

.navbar-icon-container { 
  text-align: center;
}

.navbar-icon {
  width: auto;
  height: 100%;
  opacity: 0.7;
}

.navbar-icon:hover {
  cursor: pointer;
  animation: buttonHover 1s;
  opacity: 0.9;
  transform: scale(1.2);
}

.navbar-icon-active {
  opacity: 1;
  transform: scale(1.2);
}

@keyframes buttonHover {
  0% {
  }
  100% {
    transform: scale(1.2);
  }
}

.navbar {
  display: grid;
  grid-template-areas: 'navbar-left-padding homeIcon diyIcon purchaseIcon navbar-language-separator navbar-language-container navbar-right-padding';
  grid-template-columns: 2% 5% 5% 5% 63% 15% 5%;
  grid-template-rows: 40px;
  grid-area: navbar;
  padding-top: 10px;
  overflow: hidden;
  padding-bottom: 10px;
  width: 100%;
}

@media only screen and (max-width: 1080px) and (min-width: 0px) {
  .pitch {
    grid-template-rows: 350px 350px 350px;
  }

  .navbar {
    grid-template-columns: 5% 20% 20% 20% 5% 23% 2%;
  }
}
