/* This file contains SCSS for the navbar */

#diy-icon-container { grid-area: diyIcon; }
#home-icon-container { grid-area: homeIcon; }
#purchase-icon-container { grid-area: purchaseIcon; }
#navbar-left-padding { grid-area: navbar-left-padding; }
#navbar-right-padding { grid-area: navbar-right-padding; }
#navbar-language-separator { grid-area: navbar-language-separator; }
#navbar-language-container { grid-area: navbar-language-container; }

.navbar-language-container {
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 10px;
}

#navbar-language-svenska {
  height: 100%;
}

#navbar-language-english {
  height: 100%;
  padding-left: 20px;
};

.navbar-language {
  opacity: 0.7;
}

.navbar-language:hover {
  opacity: 1.0;
  cursor: pointer;
  transform: scale(1.2);
  animation: buttonHover 1s;
}

.navbar-language-active {
  opacity: 1;
  transform: scale(1.2);
}

.navbar-icon-container { 
  text-align: center;
}

.navbar-icon {
  width: auto;
  height: 90%;
  opacity: 0.7;
  bottom: 0px;
}

.navbar-icon:hover {
  cursor: pointer;
  animation: buttonHover 1s;
  opacity: 1.0;
  transform: scale(1.2);
}

.navbar-icon-active {
  opacity: 1;
  transform: scale(1.2);
}

@keyframes buttonHover {
  0% {
  }
  100% {
    transform: scale(1.2);
  }
}

.navbar {
  display: grid;
  grid-template-areas: 'navbar-left-padding homeIcon diyIcon purchaseIcon navbar-language-separator navbar-language-container navbar-right-padding';
  grid-template-columns: 2% 5% 5% 5% 63% 15% 5%;
  grid-template-rows: 60px;
  grid-area: navbar;
  margin-top: 5px;
  overflow-y: visible;
  overflow-x: hidden;
  margin-bottom: 5px;
  width: 100%;
  position: relative;
  padding-bottom: 3px;
  padding-top: 5px;
}

@media only screen and (max-width: 1080px) and (min-width: 700px) {
  .navbar {
    grid-template-columns: 0.1% 15% 15% 15% 15% 35% 1%;
  }
}
@media only screen and (max-width: 699px) and (min-width: 0px) {
  .navbar {
    grid-template-columns: 0.1% 15% 15% 15% 5% 45% 1%;
  }

  .navbar-icon {
    height: 80%;
  }
}
