/* This file contains SCSS for the navbar */

#home-icon-container { grid-area: home-icon-container;}
#navbar-icon-container{ 
  grid-area: navbar-icon-container;
  text-align: center;
}
#navbar-language-container { grid-area: navbar-language-container; }

.navbar-language-container {
  overflow: hidden;
  //display: flex;
  //justify-content: flex-end;
  text-align: right;
}

#navbar-language-svenska {
  width: 60px;
  height: 100%;
  margin-right: 15px;
}

#navbar-language-english {
  width: 60px;
  height: 100%;
  margin-right: 15px;
}

.navbar-language {
  opacity: 0.7;
}

.navbar-language:hover {
  opacity: 1.0;
  cursor: pointer;
  transform: scale(1.2);
  animation: buttonHover 1s;
}

.navbar-language-active {
  opacity: 1;
  transform: scale(1.2);
}

.home-icon-container { 
  text-align: left;
}

#home-icon {
  margin-left: 15px;
  width: 60px;
  height: 90%;
  opacity: 0.7;
}

.navbar-icon {
  opacity: 0.7;
}

.navbar-middle-icon{
  width: 100px;
  height: 100px;
}

#diy-icon{
  margin-right: 20px;
}

.navbar-icon:hover {
  cursor: pointer;
  animation: buttonHover 1s;
  opacity: 1.0 !important;
  transform: scale(1.2);
}

.navbar-icon-active {
  opacity: 1 !important;
  transform: scale(1.2);
}

@keyframes buttonHover {
  0% {
  }
  100% {
    transform: scale(1.2);
  }
}

.navbar {
  display: grid;
  grid-template-areas: 'home-icon-container navbar-icon-container navbar-language-container';
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 110px;
  grid-area: navbar;
 // margin-top: 5px;
  overflow: hidden;
 // margin-bottom: 5px;
  width: 100%;
  position: relative;
  padding-bottom: 3px;
  padding-top: 5px;
  background-color: #202325;
  //background-color: #1a2836;
}

@media only screen and (max-width: 800px) and (min-width: 0px) {
.navbar-middle-icon{
  width: 70px;
  height: 70px;
}

.navbar {
  grid-template-columns: 1fr 2fr 1fr;
}

#home-icon {
  margin-left: 10px;
  width:  70px;
  height: 70px;
}

#diy-icon{
  margin-right: 10px;
}

  .navbar-language-container {
    flex-direction: row;
  }

  #navbar-language-english {
    height: 50%;
  }

  #navbar-language-svenska {
    height: 50%;
  }
}

